/* 全局样式表 */
/* 让html,body,app三个容器高度都为100，内外边距为0 */
html,body,#app {
    height: 100%;
    margin:0;
    padding:0;
    /* 最小屏幕宽度 */
    min-width: 1366px;

}
/* 面包屑写个全局样式使其与卡片之间有一定的间隔以及设置字体大小 */
.el-breadcrumb {
margin-bottom : 15px;
font-size: 12px;
}

/* 重置卡片阴影 */
.el-card {
box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important ;
}
.el-table {
    margin-top: 15px;
    font-size: 12px;
}
.el-pagination {
    margin-top: 15px;
}
.el-cascader-menu {
    height: 400px;
}